## Inicialización de los datos

In [5]:
# Precarga de todas las librerias necesarias para el proyecto

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from pathlib import Path

In [10]:
# Definicion de las rutas de los archivos CSV a utilizar en el proyecto

BASE_DIR = Path().resolve()

data_path_0 = BASE_DIR / "data" / "geo_data_0.csv"
data_path_1 = BASE_DIR / "data" / "geo_data_1.csv"
data_path_2 = BASE_DIR / "data" / "geo_data_2.csv"

# Lectura y almacenamiento en dataframes de los CVS proporcionados 

geo_0 = pd.read_csv(data_path_0)
geo_1 = pd.read_csv(data_path_1)
geo_2 = pd.read_csv(data_path_2)

# Almacenamiento de los dataframes en una lista 

df_list = [geo_0, geo_1, geo_2]

# Asignacion de las variables necesarias para futuros calculos

BUDGET = 100000000 
N_WELLS = 200        
REVENUE_PER_UNIT  = 4500     
RISK_THRESHOLD = 2.5 
BOOTSTRAP_SAMPLES = 1000

# Calculo del minimo indispensable de unidades para evitar perdidas 

brake_event = (BUDGET / N_WELLS) / REVENUE_PER_UNIT

## Verificacion de integridad de los datos

In [11]:
# Consulta de datos generales geo_0, geo_1, geo_2

for df in df_list:
    print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  str
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), str(1)
memory usage: 3.8 MB
None
<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  str
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), str(1)
memory usage: 3.8 MB
None
<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  str
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), str(1)
memory usage: 3.8 MB
None

In [12]:
# Impresion de muestra de geo_0, geo_1, geo_2

i = 1
for df in df_list:
    print(f"\nPozo: {i}\n")
    display(df.sample(5))
    i +=  1

Pozo: 1

          id        f0        f1        f2     product
15566  sacR2  1.078682  0.095846 -1.775019   27.821411
1122   nJAvK  1.018247 -0.429411  2.506254  123.018432
44833  u46v2 -0.289166  1.032955  4.730856  159.354644
98034  sWuaF -0.018372  0.334635 -0.192986   94.174607
51939  0r1cg  0.470489  0.887989  0.082795  114.037848

Pozo: 2

          id         f0         f1        f2     product
47137  fDCop   9.310925   3.847196  4.993077  134.766305
46393  hIAnL  -3.893532 -11.847465  2.998596   84.038886
49625  f7b1F   8.855818  -1.453410  3.995759  107.813044
8092   BiIXT  20.141242  -4.148973  0.003065    0.000000
31434  UTqJP  12.821252  -2.528573  0.995792   26.953261

Pozo: 3

          id        f0        f1        f2     product
46488  Uolq3  0.128902  2.002579  3.260789   82.909784
38838  cc6Av  0.289078 -2.771596  5.131650  129.866889
26064  GKRvX  1.543879  0.787699  0.215558   36.255184
92957  H4U2A -5.294862  3.322771  8.823126  186.781379
40881  B6eIV -0.496236 -0.508560 -0.485917   30.873360

La obtencion de la muestra y consulta de informacion general de las bases de datos señala que estan listas para ser procesadas